.phone_input{
    width: 100%;
    input{
        width: 80%;
        height: 3.2rem;
        line-height: 3.2rem;
        margin: 2rem auto;
        display: block;
        border: 1px solid #eee;
        text-indent: 1rem;
    }
}