.cate_content {
  width: 100%;
  height: 100%;
  display: flex;
  .cate_left {
    height: 100%;
    width: 10rem;
    overflow-y: auto;
  }
  .cate_right {
    height: 100%;
    flex: 1;
    overflow-y: auto;
  }
}
