<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/scan.png" />
    </ion-buttons>
    <ion-searchbar placeholder="请输入关键词" animated (tap)="toSearchPage()"></ion-searchbar>
    <ion-buttons slot="end" class="msg">
      <img src="assets/msg.png" />
      <ion-badge color="danger" class="badge">8</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 轮播图 -->
  <ion-slides [options]="slideOpts" #theSlide (ionSlideTouchEnd)="slideTouchEnd()">
    <ion-slide *ngFor="let item of slideList">
      <img [src]="config.domain+item.pic" />
    </ion-slide>
  </ion-slides>

  <div class="h_title">猜你喜欢</div>
  <div class="hotList">
    <ul class="clearfix" [ngStyle]="{width: hotListWidth}">
      <li *ngFor="let item of hotList">
        <img [src]="config.domain+item.s_pic" [alt]="item.title" [title]="item.title"/>
      </li>
    </ul>
  </div>

  <div class="h_title">商品列表</div>
  <div class="pList">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let item of pList">
          <img [src]="config.domain+item.s_pic" />
          <p>{{item.title}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>