<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list1.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list2.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list3.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list4.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list5.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list6.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
     <div class="img">
      <img src="assets/list7.jpg" />
     </div>
    </dt>
    <dd>
      <h2 class="cart_title">商品标题商品标题商品标题商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">￥100元</div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" name="num" id="num" value="1" readonly>
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="checkOut">
      <ion-checkbox color="danger"></ion-checkbox>全选
      <strong>合计： <span class="price">￥2000</span></strong>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="payNow()" color="danger" fill="solid">
        去结算
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>