.toolbar_tab {
    height: 3rem;
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    border-top: 1px solid #eee;
    div {
        text-align: center;
        flex: 1;
    }
    .active{
        color: red;
    }
}
.search_content {
    .search_list {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0.5rem 0px;
    }
    .hotlist {
        p {
            padding: 0.5rem 0px;
            span {
                display: inline-block;
                padding: 0.5rem;
                margin: 0.5rem;
                border-radius: 0.5rem;
                background-color: #eee;
            }
        }
    }
    .search_list {
        ion-item {
            font-size: 1.4rem;
        }
    }
}
.noMoreData{
    text-align: center;
    color: #ddd;
    font-size: 1.3rem;
    height: 2rem;
    line-height: 2rem;
}